Discord Bot/node_modules/
Discord Bot/node_modules/
Discord Bot/node_modules

Movie Night Bot Website/backend/node_modules/
Movie Night Bot Website/backend/node_modules/
Movie Night Bot Website/backend/node_modules

Movie Night Bot Website/bot-dashboard/node_modules/
Movie Night Bot Website/bot-dashboard/node_modules/
Movie Night Bot Website/bot-dashboard/node_modules


Discord Bot/config.json
Night butt.code-workspace

TODO.md
Movie Night Bot Website/backend/.env
Movie Night Bot Website/bot-dashboard/.env
