Discord Bot/node_modules/
Discord Bot/node_modules/
Discord Bot/node_modules

Movie-Night-Bot-Website/backend/node_modules/
Movie-Night-Bot-Website/backend/node_modules/
Movie-Night-Bot-Website/backend/node_modules

Movie-Night-Bot-Website/bot-dashboard/node_modules/
Movie-Night-Bot-Website/bot-dashboard/node_modules/
Movie-Night-Bot-Website/bot-dashboard/node_modules


Discord Bot/config.json
Night butt.code-workspace

TODO.md
Movie-Night-Bot-Website/bot-dashboard/.env
Movie-Night-Bot-Website/backend/.env
.vscode/launch.json
Discord Bot/.DS_Store
Movie-Night-Bot-Website/backend/.env-prod
Movie-Night-Bot-Website/bot-dashboard/.env-build
Movie-Night-Bot-Website/backend/database/.DS_Store
Movie-Night-Bot-Website/.DS_Store
config.json

/.terraform/
/commands.md